$gold :#fddb3a;
$black : #41444b;
$grey : #52575d;
.project{
    border: $grey solid 1px;

    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
    background: $black;
    color:$gold;
    box-shadow: 5px 3px $grey;
    .icons{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        margin: 1rem;
        .icon{
            font-size: 1.5rem;
            margin: 0rem 1rem 0rem 1rem;
        }

    }
    .select{
        display: inline;
    }
    .image{
        border: solid $gold 1.5px;
        width: 70%;
        height: auto;
    }
}