$gold :#fddb3a;
$black : #41444b;
$grey : #52575d;
#skill-list-box{
    border: $black 1px solid;
    margin: 2rem 10rem 2rem 10rem;
    padding: 1rem;
    
    #skill-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    .size{
        font-size:  5rem;
    }
    .size:hover{
        color:$gold;
    }
}