<div class="me-content">
        <img id="me-image" src="../../../assets/images/fb.jpg">
    <div id="me-float-right">
        <div id="me-text">
            <h2>Hey !</h2>
            <p>My name is Simon Bettens!</p>
            <p>I'm an applied computer sciences student at HoGent!</p>
            <p>I have a wide range of skills and abilities</p>
            <p>Allow me to show you</p>
        </div>
    </div>
</div>
<app-skills-list></app-skills-list>
<app-education></app-education>
<app-languages></app-languages>
