@import "src/scss-partials/variables";
@import "src/scss-partials/mixins";

#lang {
  border: $black 1px solid;
  padding: 1rem;
  #langs-row {
    display: flex;
    flex-direction: column;
    @include from-desktop{
      flex-direction: row;
    }
    align-content: center;
    justify-content: center;
    .langs-col {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      .language{
        background: $black;
        color:$gold;
        border: $grey solid 1px;
        width: 15rem;
        margin: 1rem;
        box-shadow: 5px 3px $grey;
        .lang-stars{
            font-size: 2rem;
            .grey{
                color:$grey;
            }
        }
      }
    }
  }
}
