$gold: #fddb3a;
$black: #41444b;
$grey: #52575d;
#lang {
  border: $black 1px solid;
  margin: 2rem 10rem 2rem 10rem;
  padding: 1rem;
  #langs-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    .langs-col {
      margin: 2rem 10rem 2rem 10rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      .language{
        background: $black;
        color:$gold;
        border: $grey solid 1px;
        width: 15rem;
        margin: 1rem;
        box-shadow: 5px 3px $grey;
        .lang-stars{
            font-size: 2rem;
            .grey{
                color:$grey;
            }
        }
      }
    }
  }
}
