
<div id="lang">
    <h2>My languages</h2>
    <div id="langs-row">
        <div class="langs-col">
            <div class="language">
                <h3> Dutch </h3>
                <div class="lang-stars">
                    <span class="iconify gold" data-icon="ant-design:check-circle-outlined" data-inline="false"></span>
                    <span class="iconify gold" data-icon="ant-design:check-circle-outlined" data-inline="false"></span>
                    <span class="iconify gold" data-icon="ant-design:check-circle-outlined" data-inline="false"></span>
                    <span class="iconify gold" data-icon="ant-design:check-circle-outlined" data-inline="false"></span>
                    <span class="iconify gold" data-icon="ant-design:check-circle-outlined" data-inline="false"></span>
                </div>
    
            </div>
            <div class="language">
                <h3> English </h3>
                <div class="lang-stars">
                    <span class="iconify gold" data-icon="ant-design:check-circle-outlined" data-inline="false"></span>
                    <span class="iconify gold" data-icon="ant-design:check-circle-outlined" data-inline="false"></span>
                    <span class="iconify gold" data-icon="ant-design:check-circle-outlined" data-inline="false"></span>
                    <span class="iconify gold" data-icon="ant-design:check-circle-outlined" data-inline="false"></span>
                    <span class="iconify gold" data-icon="ant-design:check-circle-outlined" data-inline="false"></span>
                </div>
            </div>
        </div>
        <div class="langs-col">
            <div class="language">
                <h3> French </h3>
                <div class="lang-stars">
                    <span class="iconify gold" data-icon="ant-design:check-circle-outlined" data-inline="false"></span>
                    <span class="iconify gold" data-icon="ant-design:check-circle-outlined" data-inline="false"></span>
                    <span class="iconify gold" data-icon="ant-design:check-circle-outlined" data-inline="false"></span>
                    <span class="iconify grey" data-icon="ant-design:close-circle-twotone" data-inline="false"></span>
                    <span class="iconify grey" data-icon="ant-design:close-circle-twotone" data-inline="false"></span>
                </div>
            </div>
            <div class="language">
                <h3> German </h3>
                <div class="lang-stars">
                    <span class="iconify gold" data-icon="ant-design:check-circle-outlined" data-inline="false"></span>
                    <span class="iconify grey" data-icon="ant-design:close-circle-twotone" data-inline="false"></span>
                    <span class="iconify grey" data-icon="ant-design:close-circle-twotone" data-inline="false"></span>
                    <span class="iconify grey" data-icon="ant-design:close-circle-twotone" data-inline="false"></span>
                    <span class="iconify grey" data-icon="ant-design:close-circle-twotone" data-inline="false"></span>
                </div>
            </div>
        </div>
    </div>
</div>
